{% extends 'layout.html' %}

{% block body %}

<main>
    <div class="banner">

    <h1>Welcome again!</h1>
    <p>Use this page to log in to our blog.</p>  
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <aside>
            <legend>
                <div>
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input")}}
                    {{ form.remember.label(class="form-check-label")}}
                </div>
            </legend>
        </aside>
        <div>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class="text=muted ml-2">
            <a href="#">Did you forgot your password? Click here!</a>
        </small>
    </form>
    <div>
        <small>
            You don't have an account yet? <a href="{{ url_for('register')}}">Sign up!</a>
        </small>
    </div>


    </div>


{% endblock %}